[req]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn

[dn]
C = US
ST = California
L = San Francisco
O = MongoDB
OU = Test
emailAddress = techking5287@gmail.com
CN = Intermediate CA